License: Copyright (c) 2023-2024, NVIDIA CORPORATION. All rights reserved. \
 NVIDIA Corporation and its licensors retain all intellectual property \
 and proprietary rights in and to this software, related documentation \
 and any modifications thereto.  Any use, reproduction, disclosure or \
 distribution of this software and related documentation without an express \
 license agreement from NVIDIA Corporation is strictly prohibited.
Package: graph-composer-runtime
Version: 4.1.0
Section: custom
Priority: standard
Architecture: amd64
Essential: no
Installed-Size: 557220
Maintainer: nvidia.com
Description: NVIDIA Graph Tools
Depends: rsync, libyaml-cpp-dev, python3-yaml
